# IBM Cloudant Architecture Variables
# ------------------------------------
# This is a sample file. 
# DO NOT ADD YOUR REAL KEYS TO THIS FILE. IT IS SYNCED TO GITHUB.
# Ask the project lead for the actual CLOUDANT_APIKEY.
# Create a new file called .env.local and copy this file's contents into it, then fill in the blanks.

CLOUDANT_URL="https://2c572e97-98a4-46cb-a267-b116f0222c06-bluemix.cloudantnosqldb.appdomain.cloud"
CLOUDANT_APIKEY="<REQUEST_KEY_FROM_TEAM_LEAD>"
